<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kurmanci.consumer">

    <application
        android:allowBackup="true"
        android:label="KurmanciConsumer"
        android:supportsRtl="true">
    </application>

</manifest>
